*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
iframe{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 623px;
}

section#tela > img{
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-size: auto;
}


::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

section#social{
    text-align: right;
}

section#social img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    text-align: right;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.514);
    transition: transform 0.2s;
}

section#social img:hover{
    transform: scale(1.2);
}
